{
    "presets": ["next/babel"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ".",
                "alias": {
                    "~": "./src",
                    "components": "./src/components"
                }
            }
        ],
        [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
        ]
    ]
}